<h1>Tutorial</h1>
<br>
Search <%= text_field_tag 'Search', '', data: {'js-search' => true} %>

<ul>
<% @tutorials.each do |tutorial| %>
  <li><%= tutorial.title %> <%= link_to "Hide","", class: 'hide', data: {'js-hide-link' => true} %></li>
 <% end %>
</ul>
